---
import Layout from "../layouts/Layout.astro";
import Button from "../components/MainButton.astro";
import { siteData } from "../data/site";
---

<Layout title={siteData.brand}>
  <h1 class="text-2xl font-semibold">{siteData.brand}</h1>
  <h2>{siteData.tagline}</h2>
  <p class="font-light">Test</p>
  <Button>Get Started</Button>
  <Button variant="outline">View Docs</Button>
</Layout>
