---
import Layout from "../layouts/Layout.astro";
import Button from "../components/MainButton.astro";
import { siteData } from "../data/site";
---

<Layout title={siteData.brand}>
  <section id="hero" class="max-w-6xlbg-white-ghost">
    <h1 class="text-3xl font-semibold">{siteData.tagline}</h1>
    <p>{siteData.description}</p>
    <div class="grid gap-3">
      <Button href="/docs/components/button" class="w-full"
        >Browse Components</Button
      >
      <Button href="/" variant="outline">View Docs</Button>
    </div>
  </section>
</Layout>
